.airdrops {
  padding: 0 10px;
  &__title {
    margin-bottom: 45px;
    font-family: "adineue";
    font-style: normal;
    font-weight: 700;
    font-size: 41px;
    line-height: 55px;
    color: #ffffff;
  }

  &__wrapper {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 373px));
    justify-content: center;
    column-gap: 40px;
    row-gap: 50px;

    @media screen and (max-width: 1200px) {
      grid-template-columns: 1fr 1fr;
    }

    @media screen and (max-width: 800px) {
      grid-template-columns: 1fr;
      row-gap: 40px;
    }
  }

  &__button {
    border: 1px solid #ffffff;
    border-radius: 7px;
    font-weight: 700;
    font-size: 17px;
    line-height: 65px;
    color: #ffffff;
    background: none;
    margin-top: 50px;
    width: 100%;
    @media screen and (min-width: 576px) {
      display: none;
    }
  }
}
