@font-face {
  font-family: "Lab Grotesque";
  src: url("../../assets/fonts/subset-LabGrotesque-Bold.eot");
  src: url("../../assets/fonts/subset-LabGrotesque-Bold.eot?#iefix")
      format("embedded-opentype"),
    url("../../assets/fonts/subset-LabGrotesque-Bold.woff2") format("woff2"),
    url("../../assets/fonts/subset-LabGrotesque-Bold.woff") format("woff"),
    url("../../assets/fonts/subset-LabGrotesque-Bold.ttf") format("truetype"),
    url("../../assets/fonts/subset-LabGrotesque-Bold.svg#LabGrotesque-Bold")
      format("svg");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Lab Grotesque";
  src: url("../../assets/fonts/subset-LabGrotesque-Regular.eot");
  src: url("../../assets/fonts/subset-LabGrotesque-Regular.eot?#iefix")
      format("embedded-opentype"),
    url("../../assets/fonts/subset-LabGrotesque-Regular.woff2") format("woff2"),
    url("../../assets/fonts/subset-LabGrotesque-Regular.woff") format("woff"),
    url("../../assets/fonts/subset-LabGrotesque-Regular.ttf") format("truetype"),
    url("../../assets/fonts/subset-LabGrotesque-Regular.svg#LabGrotesque-Regular")
      format("svg");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Axiforma";
  src: url("../../assets/fonts/subset-Axiforma-Regular.eot");
  src: url("../../assets/fonts/subset-Axiforma-Regular.eot?#iefix")
      format("embedded-opentype"),
    url("../../assets/fonts/subset-Axiforma-Regular.woff2") format("woff2"),
    url("../../assets/fonts/subset-Axiforma-Regular.woff") format("woff"),
    url("../../assets/fonts/subset-Axiforma-Regular.ttf") format("truetype"),
    url("../../assets/fonts/subset-Axiforma-Regular.svg#Axiforma-Regular")
      format("svg");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Adineue";
  src: url("../../assets/fonts/subset-adineuePROCyr-BoldWeb.eot");
  src: url("../../assets/fonts/subset-adineuePROCyr-BoldWeb.eot?#iefix")
      format("embedded-opentype"),
    url("../../assets/fonts/subset-adineuePROCyr-BoldWeb.woff2") format("woff2"),
    url("../../assets/fonts/subset-adineuePROCyr-BoldWeb.woff") format("woff"),
    url("../../assets/fonts/subset-adineuePROCyr-BoldWeb.ttf")
      format("truetype"),
    url("../../assets/fonts/subset-adineuePROCyr-BoldWeb.svg#adineuePROCyr-BoldWeb")
      format("svg");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}
